.terminal {
  background-color: #303030;
  color: #88bbff;
  font-family: Monaco;
  font-size: 13px;
  margin: 0 auto;
  opacity: 0.8;
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; /*to fit into div, spills over borders otherwise*/
}

.terminal:focus {
  outline: none
}
